## Importing Fin Data into Python

### Using PDR

In [8]:
import pandas_datareader as pdr
import datetime 
aapl = pdr.get_data_yahoo('AAPL', 
                          start=datetime.datetime(2006, 10, 1), 
                          end=datetime.datetime(2012, 1, 1))

### Using quandl

In [13]:
# import quandl 
# aapl = quandl.get("WIKI/AAPL", 
#                   start_date="2006-10-01", 
#                   end_date="2012-01-01")

In [14]:
aapl.head()
# aapl.tail()
# aapl.describe()

                 High        Low       Open      Close     Volume  Adj Close
Date
2006-10-02  10.838572  10.614285  10.728572  10.694285  178159800   9.283074
2006-10-03  10.707143  10.455714  10.635715  10.582857  197677200   9.186352
2006-10-04  10.780000  10.451428  10.585714  10.768572  207270700   9.347562
2006-10-05  10.880000  10.590000  10.647142  10.690000  170970800   9.279355
2006-10-06  10.720000  10.544286  10.631429  10.602858  116739700   9.203714

In [18]:
aapl.columns
# aapl.index

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [19]:
ts = aapl['Close'][-10:]

In [20]:
type(ts)

pandas.core.series.Series